<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light ">
      <a class="navbar-brand" href="index.php">
        <img src="assets/img/comsoc.png" width="100px" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link py-3" routerLink="home">INICIO</a><!-- routerLInk - _:o -->
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link py-3" routerLink="mediciones">MEDICIONES</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link py-3" routerLink="about">NOSOTROS</a>
          </li>

        </ul>
      </div>
    </nav>      
  </div>
</header>