<main>
  <!-- SOBRE NOSOTROS -->
  <section class="py-3">
    <div class="container py-2">
      <h3 class="text-left">SOBRE NOSOTROS</h3>        
    </div>
    <div class="py-2">
      <div class="container">
        <div class="row proyecto">
            <div class="col-sm-6">
                <h2 class="my-4 text-center">Comsoc IOT - UNI </h2>
                <p class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dolorem neque ipsam obcaecati ea est ducimus accusantium cum doloremque exercitationem. Ipsam maiores magnam obcaecati iste autem, natus quisquam quas ducimus quibusdam non repellendus fugiat deserunt laudantium illo incidunt consectetur adipisci? Perspiciatis tempora qui illum obcaecati repellendus consequatur perferendis quidem in, fugit, corporis vitae modi.</p>
                <button type="button" class="btn btn-outline-primary mb-4">Leer más</button>
            </div>
            <div class="col-sm-6">
              <img src="assets/img/comsoc.png" class="img-fluid" alt="">
            </div>
        </div>
      </div>
    </div>
  </section>
</main>
