<main>
  <!-- PORTADA -->
  <section class="py-3">
    <div class="container px-5">
      <h2 class="text-center mt-4">Aplicamos tecnología para mejorar vidas</h2> 
      <h3 class="text-center my-4">Un dispositivo pequeño con una gran plataforma detrás</h3>       
    </div>
    <div class="portada">
      <img src="assets/img/enviropment.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </section>

  <!-- SOBRE EL PROYECTO -->
  <section class="py-3">
    <div class="container py-2">
      <h3 class="text-left">El proyecto</h3>        
    </div>
    <div class="py-2">
      <div class="container">
        <div class="row proyecto">
            <div class="col-sm-6">
                <h2 class="my-4 text-center">CaliAir</h2>
                <p class="text-left">CaliAir es un proyecto de la Universidad Nacional de Ingeniería con respaldo del ComSoc-UNI y la contribución de personas apasionadas por el cambio tecnológico del país.
                Este proyecto busca concientizar a las personas sobre la contaminación de aire que existe en muchas zonas de la capital peruana -Lima- usando IoT(Internet de las cosas)...</p>
                <button type="button" class="btn btn-outline-primary mb-4"><a routerLink="/about">Leer más</a></button>
            </div>
            <div class="col-sm-6">
              <img src="assets/img/sobre-proyecto.jpg" class="img-fluid" alt="">
            </div>
        </div>
      </div>
    </div>
  </section>


  <!-- CARACTERISTICAS -->
  <section class="my-5">
    <div class="container">
      <h3 class="text-center my-5">Caracteristicas</h3>        
    </div>
    <div class="caracteristicas">
      <div class="container">
        <div class="row sobre-equipo">
            <div class="col-sm-3 text-center">
                <i class="fas fa-wifi"></i>
                <h3 class="my-4">Conectividad inmediata</h3>
                <p>Nuestros dispositivos usan tecnología de comunicaciones moviles, en específico, el módulo 2G el cual se conecta rápidamente a la red para enviar información recolectada en cada nodo.</p>
            </div>
            <div class="col-sm-3 text-center">
                <i class="fas fa-mobile"></i>
                <h3 class="my-4">Compatibilidad con dispositivos</h3>
                <p>La plataforma front-end del proyecto, además de tener un diseño responsive y de acuerdo a las tendencias modernas, puede ser visualizado en cualquier dispositivo que tenga conexión a internet. </p>
            </div>
            <div class="col-sm-3 text-center">
                <i class="fas fa-check"></i>
                <h3 class="my-4">Medida eficiente</h3>
                <p>Apesar de que nuestro dispositivo a sido construido a bajo coste, ha sido optimizado por estudiantes especialistas para de ese modo lograr una medida veráz de la data.</p>
            </div>
            <div class="col-sm-3 text-center">
                <i class="fas fa-rocket"></i>
                <h3 class="my-4">Rápidos reportes</h3>
                <p>NUestro dispositivo está conectado a la plataforma web en tiempo real, por lo cual se puede consultar el estado de la calidad de aire en cualquier momento del día.</p>
            </div>
        </div>
      </div>
    </div>
  </section>

  <!-- MIRALO EN ACCION -->
  <section class="text-left">
    <div class="container">
      <h3 class="my-2">Míralo en acción</h3>
      <h2 class="my-5">Así funciona CaliAir, una interfaz agradable que permitirá concientizar sobre la calidad de aire de nuestras ciudades.</h2>        
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <video class="embed-responsive-item" controls >
        <source src="assets/video/video.mp4" type="video/mp4">
      </video>
    </div>
  </section>

  <!-- APLICACIONES -->
  <section>
    <div class="aplicaciones py-5">
      <div class="container">
        <div class="row">
            <div class="col-sm-5 text-left">
              <h3 class="my-2">¿Qué puede hacer nuestro dispositivo?</h3> 
              <h2 class="my-5">Aplicaciones</h2>
              <p>Nuestros dispositivos son colocados en puntos estratégicos, como pueden ser, lugares de mayor tráfico automotríz o centros poblados cerca de minas.
              Miden niveles de Dióxido de carbono, Metano, Temperatura, Humedad, Azufre, Plomo, ...</p>
              <p>Con la meta de promover el cuidado de:</p>
              <dl>
                  <dd><i class="fas fa-home"></i>Familia</dd>
                  <dd><i class="fas fa-heart"></i>Salud</dd>
                  <dd><i class="fab fa-envira"></i>Medio Ambiente</dd>
                  <dd><i class="fas fa-image"></i>Imagen</dd>
              </dl>              
              </div>
            <div class="col-sm-7 text-center">
              <img src="assets/img/sobre-proyecto.jpg" class="img-fluid" alt="">
            </div>
        </div>

      </div>
    </div>
    <div class="container py-3">
      <div class="row">
        <div class="col-sm-2 col-4">
          <img src="assets/img/arduino.png" class="img-fluid" alt="">
        </div>
        <div class="col-sm-2 col-4">
          <img src="assets/img/laravel.png" class="img-fluid" alt="">
        </div>
        <div class="col-sm-2 col-4">
          <img src="assets/img/maqetado.png" class="img-fluid" alt="">
        </div>
        <div class="col-sm-2 col-4">
          <img src="assets/img/lamp.png" class="img-fluid" alt="">
        </div>
        <div class="col-sm-2 col-4">
          <img src="assets/img/mqtt.png" class="img-fluid" alt="">
        </div>
        <div class="col-sm-2 col-4">
          <img src="assets/img/gsm.png" class="img-fluid" alt="">
        </div>
      </div>        
    </div>
  </section>

  <!-- NUESTROS PRODUCTOS -->
  <section class="text-center my-5">
    <div>
      <h3 class=" my-4">Nuestros Dispositivos.</h3>        
    </div>
    <div class="container">
      <h2 class="my-5">Tecnología facil de usar</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum recusandae sed, vero doloremque eos sit, cumque mollitia voluptate quaerat ratione iure minus delectus corrupti. Adipisci vitae ab inventore nisi officia soluta aperiam doloribus et aspernatur.</p>

    </div>
    <div class="container px-5">
      <img src="assets/img/dispositivo.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="container py-5">
      <button type="button" class="btn btn-outline-primary">Ver descripciòn completa</button>
    </div>
  </section>

  <!-- NOSOTROS -->
  <section>
    <div class="aplicaciones py-5">
      <div class="container">
        <div class="row">
            <div class="col-sm-5 text-left">
              <h3 class="my-2">¿Qué puede hacer nuestro dispositivo?</h3> 
              <h2 class="my-5">Aplicaciones</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem minima deserunt, molestias harum! Neque, facere iure dicta possimus cum nemo quia, itaque velit suscipit, veniam perferendis iste doloremque illo fugiat. Voluptates, officiis, accusantium.</p>            
            </div>
            <div class="col-sm-7 text-center">
              <img src="assets/img/sobre-proyecto.jpg" class="img-fluid" alt="">
            </div>
        </div>
      </div>
    </div>
  </section>
</main>
